@import "_plugins/variabel";

//font setup
@font-face{
	font-family: SourceSansPro-Regular;
	src:url("../fonts/SourceSansPro-Regular.otf");
}

@font-face{
	font-family: SourceSansPro-Bold;
	src:url("../fonts/SourceSansPro-Bold.otf");
}



//end font setup

//root
:root{
	--light-purple:#A4A1FB;
	--light-grey:#A1A0AE;
	--lighten-grey:#F5F6FA;
	--grey:#EDECFE;
	--green:#4AD991;
	--white:#fff;
	--light-red:#ff6565;
	--blue:#3b86ff;
	--purple:#A3A0FB;
	--skyblue:#56D9FE;
	--dark-blue:#43425D;
	--dark-white:#F0F0F7;
	--dark-blue-a:#3B3B53;
}

//end root

//change bootstrap
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none !important;
}

//end

//font style
@for $i from 10 through 40 {
  .f-#{$i} {
    font-size: #{$i}px !important;
  }
}

.text-green{
	color: var(--green);
}

.text-grey{
	color: var(--light-grey);
}

.text-purple{
	color: var(--purple);
}

.text-light-purple{
	color: var(--light-purple);
}

.text-skyblue{
	color: var(--skyblue);
}

.text-darkblue{
	color: var(--dark-blue);
}

.f-bold{
	font-family: SourceSansPro-Bold;
}

.f-regular{
	font-family: SourceSansPro-Regular;
}
//end font style


//style
.underlined{
	text-decoration: underline;
}

.justify-content-center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
}

.right-middle{
	margin-top: 8px;
}

.badge-green{
	background: #69E4A6;
}

.badge-red{
	background: #FF7285;
}

.badge-orange{
	background: #FFCA83;
}

.v-line{
	display: block;
	height: 23px;
	margin-top: 9px;
	width: 1px;
	background: #e6e6e6;
}

.h-line{
	display: block;	
	width: 100%;	
	height: 1px;	
	background: #e6e6e6;	
}

.full-height{
	height: 100vh;	
}

.bg-lighten-grey{
	background: var(--lighten-grey) !important;
}

.clearfix{
	clear: both;
}

.bg-semidarkblue{
	background: var(--dark-blue-a) !important;
}

.bg-purple{
	background: var(--purple) !important;
}

.bg-light-purple{
	background: var(--light-purple) !important;
}

.bg-darkblue{
	background: var(--dark-blue) !important;
}

.bg-darkwhite{
	background: var(--dark-white) !important;
}

.bg-white{
	background: var(--white) !important;
}

.dots{
	width: 10px;
	height: 10px;
	background: var(--grey);
	border-radius: 100%;
	margin-top: 6px;
	margin-right: 5px;
}

.dots-purple{
	width: 10px;
	height: 10px;
	background: var(--light-purple);
	border-radius: 100%;
	margin-top: 6px;
	margin-right: 5px;
}

.outline-none{
	outline: none;
}

//end style

//default navbar
.navbar{

	input:focus{
		outline-offset: 0 !important;
		outline: none !important;
	}
}

//end

//
.main{
	right: 0;
	margin-left: auto;
	
}
//

//navbar

.navbar{
	box-sizing: border-box;
	.search-wrapper{

		input[type="text"]{
			border: none !important;
			outline: none !important;
			@include padding-x(60px);
		}

		&:before{
			content: "";
			position: absolute;
			background: url("../images/icons/icon_search.svg");
			width: 16px;
			height: 16px;
			left: 30px;
			top: 11px;
		}
	}

	.navbar-nav{
		flex-direction: unset;

		box-sizing: border-box !important;
		
	

		.nav-item{
			box-sizing: border-box;
			@include padding-x(10px);

			.nav-link{
				box-sizing: border-box;

			}

			&:nth-child(3){
				margin-top: -3px;
				

			}
		}
	}

	.user-name{
		display: inline-block;
		margin-top: 8px;
		margin-left: 5px;
		cursor: pointer;
	}

	.avatar{
			width: 30px;
			margin-top: 4px;
			cursor: pointer;
		}
}

///end navbar

//sidebar
.nav-link{
	padding-left: 0 !important;
}

.sidebar-sticky{
	margin-top: 40px;
	height: 100vh;

	.nav-item{
		@include padding-y(6.5px);
		padding-left: 20px;


		.nav-link{

			svg{
				margin-right: 10px;
			}
		}
	}

	.nav-item.active{
		border-left: 5px solid var(--purple);
		background: var(--dark-blue-a);

		svg{

			path{
				fill: #9290E2;
			}
		}
	}
}

.sidebar{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
//end sidebar

//dropdown

.dropdown-menu:after{
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.dropdown-menu:before{
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.17) transparent; 
}

.dropdown-menu{
	border: 1px solid rgba(0,0,0,0.17);
	background: #fff;
	transition: .3s ease;
	 box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.dropdown-menu{
	

	.dropdown-item{
		padding: 0 ;
		
		p{
			margin: 0;
		}

		.img-notification{
			float: left;

			img{
				width: 37px;
			}
		}
	}
}


.dd-notification{
	min-width:18rem !important;
	right:-14px !important;
}

.dd-account{
	right: -17px !important;
}

.dd-inbox{
	min-width: 10rem !important;
	right: -10px !important;
}
